html{
    height: 100%;
}



#header{
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,0.5) 0%, rgba(20,20,20,0.5) 35%, rgba(200,200,200,0.2) 100%);
    padding: 2% 0;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

body{
    background-color: rgb(20, 20, 20);
    color: rgb(127,200,157);
    text-align: justify;
    height: 65%;
    margin: 0;
}

#container{
    position: relative;
    width: 100%;
    height: 90%;
}

#menu{
    float:left;
    width:20%;
}

li{
    text-align: center;
    text-decoration: none;
    padding: 0.75em 0;
}

ul a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    height: 100%;
    
}

ul a:hover{
    
    color: rgb(127,200,157);
    
}

#content{
    width: 100%;
}



h1, h2, h3, h4, h5, h6{
    text-align: center;
}

footer{
    text-align: center;
    width: 100%;
    clear: both;
    margin-bottom: 5%;
}